<div class="container mt-5" style="max-width: 550px;">

  <div class="form-group">
    <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="searchFilter" id="listSearch">
  </div>

  <div class="card mb-1" *ngFor="let data of persons | searchFilter: searchFilter">
    <div class="card-body">
      <h5 class="card-title">{{data.firstName}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{data.lastName}}</h6>
      <p class="card-text">{{data.dateOfBirth}}</p>
      <p class="card-text">{{data.gender}}</p>
      <p class="card-text">id {{data.personalID}}</p>
    </div>
  </div>

</div>